<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.7/dist/darkly/bootstrap.min.css">
    <title>Predictor de comentarios</title>
</head>
<body>
    <div class="container text-center mt-5">
        <h1>¿Será comentario positivo o negativo?</h1>
        {% if prediction != None %}
        <div class="alert alert-primary my-2" role="alert">
            <h3>Predicción: {{ prediction }}</h3>
        </div>
        {% endif %}
        <div class="row mt-5">
                <form action="/" method="post" class="m-auto col-11 col-sm-8 col-md-8 col-lg-6">
                      <div class="row mb-3">
                        <label for="comment" class="col-sm-4 col-form-label">Comentario:</label>
                        <div class="col-sm-8">
                          <input class="form-control" id="comment" type="text" step="any"
                                 name="val1" placeholder="Escribe el comentario en inglés" required>
                        </div>
                      </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn btn-lg btn-primary me-md-2" type="submit" value="Predict">Predice</button>
                      <button class="btn btn-lg btn-secondary" type="reset">Reset</button>
                    </div>
                  <pre>


                  </pre>
                  </div>
                    <p class="fs-4">La polaridad de los comentarios, estan basados en los comentarios de la play store</p>

                    <p class="fs-5">Puede tener algún problema con la palabra "like"</p>
                  </div>
                </form>
        </div>
    </div>
</body>
</html>